* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.auth-page {
  height: 100vh;
  width: 35%;
}
.auth-form {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.auth-form__form {
  width: 100%;
}
